In [24]:
#导入工具包
import numpy as np
import pandas as pd
from datetime import datetime
import time

In [5]:
#导入数据
data1=pd.read_excel('用户首单表.xlsx')
data2=pd.read_excel('用户整体分层.xlsx')
data=pd.DataFrame(pd.merge(data2,data1,on='用户编号',how='left'))

In [8]:
N=data.iloc[:,0].size

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 998
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   用户编号     999 non-null    int64
 1   身份证      973 non-null    object
 2   RR       999 non-null    object
 3   FF       999 non-null    int64
 4   MM       999 non-null    float64
 5   时租次数     999 non-null    int64
 6   日租次数     999 non-null    int64
 7   自取次数     999 non-null    int64
 8   送车次数     999 non-null    int64
 9   微信支付次数   999 non-null    int64
 10  支付宝支付次数  999 non-null    int64
 11  兑换码支付次数  999 non-null    int64
 12  余额支付次数   999 non-null    int64
 13  负债次数     999 non-null    int64
 14  非网点还车次数  999 non-null    int64
 15  优惠券使用次数  999 non-null    int64
 16  优惠金额总数   999 non-null    float64
 17  周中次数     999 non-null    int64
 18  早高峰      999 non-null    int64
 19  晚高峰      999 non-null    int64
 20  长途次数     999 non-null    int64
 21  总时长      999 non-null    float64
 22  总里程      999 non-null    int64
 23  上午通勤次数   999 non-null    int64
 24  城市       67 non-null     object
 25  注册时间     67 non-null     object
 26  首单时间     67 non-null     object
 27  订单编号     67 non-null     float64
 28  渠道来源     31 non-null     object
 29  实收金额     67 non-null     float64
 30  收益       67 non-null     float64
 31  首单月      67 non-null     float64
 32  年        67 non-null     float64
dtypes: float64(8), int64(19), object(6)
memory usage: 305.4+ KB

In [16]:
data['身份证'].apply(lambda x:1 if len(str(x))<18 else 0).sum()

26

In [18]:
#填充缺失值
data['年']=data['年'].fillna(0).astype('int')
T=list()
for i in range(N):
    if data['首单时间'][i]=='1970-01-01 08:00:00':
        T.append('2019-01-01 08:00:00')
    elif data['首单时间'][i]=='NaN' or data['首单时间'][i]=='':
        T.append('0000-00-00 00:00:00')
    else:
        T.append(data['首单时间'][i])
data['首单时间']=T

S=list()
for i in range(N):
    if len(str(data['身份证'][i]))<18:
        S.append('000000000000000000')
    else:
        S.append(data['身份证'][i])
data['身份证']=S
data['身份证长度']=[len(i) for i in data['身份证'].tolist()]

In [51]:
data[['FF','MM']].describe()

               FF           MM
count  999.000000   999.000000
mean     2.795796   326.335796
std     17.160925   488.872808
min      1.000000     0.000000
25%      1.000000   153.700000
50%      1.000000   228.000000
75%      2.000000   346.000000
max    480.000000  6940.160000

In [80]:
#数据处理
data['出生年']=data['身份证'].str[6:10]
data['出生日期']=data['身份证'].str[6:14]
data['sex']=data['身份证'].str[-2]
data['当前年']=int(datetime.now().strftime('%Y'))
data['月数']=(data['当前年']-data['年'])*12
data['年龄']=data['当前年']-data['出生年'].astype('int')
data['单均价']=round(data['MM']/data['FF'])
data['条件']=(data['优惠券使用次数']/data['FF']).astype('float')
dd='2019-05-01 14:40:40'
data['最近活跃']=(pd.to_datetime(dd)-pd.to_datetime(data.RR)).dt.days
#当数据存在极值时，应用中位数表示数据的中间值
R_median=np.median(data.最近活跃)
F_median=np.median(data.FF)
M_median=np.median(data.MM)
data['R']=np.where(data.最近活跃<R_median,'高','低')
data['F']=np.where(data.FF>F_median,'高','低')
data['M']=np.where(data.MM>M_median,'高','低')
data['RFM']=data.R+data.F+data.M

In [53]:
data.年龄.max()

2020

In [81]:
#用户标签
data['用户ID']=data['用户编号']
data['性别']=['女' if float(i)%2 ==0 else '男' for i in data.sex.tolist()]
data['年龄分段']=pd.cut(data['年龄'],bins=[0,19,24,29,34,39,44,49,54,59,2020],
                   labels=['<20','20-25','25-30','30-35','35-40','40-45','45-50','50-55','55-60','60+'])
def func(x):
    if x>=1:
        return '全用'
    elif x>0 and x<1:
        return '半用'
    else:
        return '不用'
data['使用优惠券情况']=data['条件'].apply(func)

def func2(x):
    if x<=0.5:
        return '非工作日活跃'
    elif x>0.5 :
        return '工作日活跃'
    else:
        return '全周活跃'
data['活跃情况']=(data['周中次数']/data['FF']).apply(func2)

def func3(x):
    if x<=0.5:
        return '下午活跃'
    elif x>0.5:
        return '上午活跃'
    else:
        return '全天活跃'
data['上下午活跃情况']=(data['上午通勤次数']/data['FF']).apply(func3)

data['活跃集中情况']=(data['早高峰']/data['FF']).apply(lambda x: '早峰活跃' if x<=0.5 else '晚峰活跃')

D=[]
for i in range(N):
    if data.FF[i]==1 and data.最近活跃[i]<=15:
        D.append('引入期')
    elif data.FF[i]>1 and data.FF[i]<=3 and data.最近活跃[i]<=70:
        D.append('成长期')
    elif data.FF[i]>=4 and data.最近活跃[i]<=70:
        D.append('成熟期')
    elif data.最近活跃[i]>=70 and data.最近活跃[i]<=90:
        D.append('休眠期')
    elif data.最近活跃[i]>=90 or (data.FF[i]==1 and data.最近活跃[i]>15):
        D.append('流失期')
    else:
        D.append('else')
data['生命周期']=D

data['月均单量情况']=np.where(data['FF']/data['月数']>=6,'月均单数大于6','月均单数小于6')
data['单均价情况']=np.where(data['单均价']>=40,'单均价大于40','单均价小于40')
data['长短途情况']=np.where(data['总里程']/data['FF']>=30,'长途居多','短途居多')
data['优惠券金额占比']=round(data['优惠金额总数']/(data['优惠金额总数']+data['MM']),4)
data['时租占比']=np.where(data['时租次数']/data['FF']>0.5,'时租居多','日租居多')
data['取车偏好']=np.where(data['自取次数']/data['FF']>0.5,'自取居多','送车居多')
data['还车偏好']=np.where(data['非网点还车次数']/data['FF']>0.5,'网点外还车居多','网点还车居多')
RFM={
    '高高高':'重要价值用户',
    '高低高':'重要保持用户',
    '低高高':'重要发展用户',
    '低低高':'重要保持用户',
    '高高低':'一般价值用户',
    '高低低':'一般发展用户',
    '低高低':'一般维持用户',
    '低低低':'一般挽留用户'
}
data['RFMlevel']=[RFM[i] for i in data.RFM.tolist()]

In [78]:
data.iloc[1:8,-16:]

,用户ID,性别,年龄分段,使用优惠券情况,活跃情况,上下午活跃情况,活跃集中情况,生命周期,月均单量情况,单均价情况,长短途情况,优惠券金额占比,时租占比,取车偏好,还车偏好,RFMlevel
1,10003,男,45-50,不用,非工作日活跃,下午活跃,早峰活跃,流失期,月均单数小于6,单均价大于40,长途居多,0.0000,时租居多,自取居多,网点还车居多,重要发展用户
2,10004,男,35-40,半用,非工作日活跃,上午活跃,早峰活跃,流失期,月均单数小于6,单均价大于40,长途居多,0.0907,时租居多,自取居多,网点还车居多,重要发展用户
3,100047,男,20-25,不用,工作日活跃,下午活跃,早峰活跃,流失期,月均单数小于6,单均价小于40,短途居多,0.0000,时租居多,自取居多,网点还车居多,一般发展用户
4,10005,男,35-40,不用,工作日活跃,上午活跃,早峰活跃,流失期,月均单数小于6,单均价大于40,长途居多,0.0000,时租居多,自取居多,网点还车居多,重要保持用户
5,100053,男,20-25,全用,工作日活跃,上午活跃,早峰活跃,流失期,月均单数小于6,单均价大于40,长途居多,0.1005,时租居多,自取居多,网点还车居多,一般维持用户
6,100123,男,30-35,全用,工作日活跃,上午活跃,早峰活跃,流失期,月均单数小于6,单均价大于40,长途居多,0.0437,时租居多,自取居多,网点还车居多,一般挽留用户
7,100154,男,25-30,全用,工作日活跃,上午活跃,早峰活跃,流失期,月均单数小于6,单均价大于40,长途居多,0.0279,时租居多,自取居多,网点外还车居多,重要保持用户

In [85]:
pd.pivot_table(data,index=['RFMlevel','生命周期'],values=['用户ID'],aggfunc='count',fill_value=0)

               用户ID
RFMlevel 生命周期
一般价值用户   成熟期      3
         成长期      2
         流失期     37
一般发展用户   引入期      3
         流失期    224
一般挽留用户   流失期    219
一般维持用户   流失期     29
重要价值用户   成熟期     10
         成长期      3
         流失期    107
重要保持用户   引入期      1
         流失期    267
重要发展用户   流失期     94

In [87]:
pd.pivot_table(data,index=['性别','生命周期'],values='用户ID',aggfunc='count',fill_value=0)

         用户ID
性别 生命周期
女  引入期      1
   成熟期      1
   流失期    294
男  引入期      3
   成熟期     12
   成长期      5
   流失期    683

In [ ]:
data.groupby('RFMlevel')['用户ID'].count()

In [88]:
df=data.groupby('RFMlevel')['用户ID'].count().to_frame()
df['percent']=['%.2f%%'%(i/np.sum(df.values)) for i in df.values ]

In [89]:
df

          用户ID percent
RFMlevel
一般价值用户      42   0.04%
一般发展用户     227   0.23%
一般挽留用户     219   0.22%
一般维持用户      29   0.03%
重要价值用户     120   0.12%
重要保持用户     268   0.27%
重要发展用户      94   0.09%